/*********************  Pc CSS   *************************/
body{
	user-select: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family:  Verdana, Arial;
	font-weight: normal;
	background: #f2f2f2;
}

h2{
	font-weight: normal; 
	font-size: 30px;
	
	
}

a{
	text-decoration: none; 
	color:black;
}

.flexbox{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-content: space-evenly;
	
}
figure{
	width: 80px;
	height: 80px;
	margin: 15px;
}

i{
	font-size: 50px;
}

img{ width: 50px;
	 height: 50px;
}	

p{
border: solid 1px #000000;
border-radius: 5px;
padding: 5px;
margin-left:30% ;
margin-right: 30%;
}


/*********************  Mobile CSS   *************************/
@media screen and (max-width: 600px)
{/*Media Start*/


body{
	padding: 0px;
}

.flexbox{
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
}

figure{
	width: 60px;
	height: 60px;
	margin: 15px;
}

img{ 
	width: 40px; 
	height: 40px;
}

i{
	font-size: 40px;
}
figcaption{
	font-size: 12px;
}

p{
	border: solid 1px #000000;
	border-radius: 5px;
	padding: 5px;
	margin-left:1% ;
	margin-right: 1%;
	}

}/*Media End*/
